.modal-interview
  position: relative
  .btn-close
    top: 1.25rem
    right: 1.25rem
    position: absolute
  .modal-header
    padding: 2.125rem 2.1875rem 0 2.1875rem
    border: none
  .modal-title
    color: #38454E
    font: 700 1.5rem/1.8125rem 'Lato', sans-serif
    margin-bottom: 1.25rem
  .modal-body
    padding: 0 2.1875rem 1.875rem 2.1875rem
  .form__input-container
    margin-bottom: 0.625rem
    margin-left: 0
    margin-right: 0
    width: 100%
  .form__group
    margin: 0
    flex-direction: column
  .form__label
    font: 400 0.9375rem/1.125rem 'Lato', sans-serif
    margin-bottom: 0.3125rem
  .form__input
    padding-right: 0.625rem
    padding-left: 0.625rem
    border: 1px solid #8C97AC
    border-radius: 0.3125rem
    min-height: 1.875rem
    font: 400 0.9375rem/1.125rem 'Lato', sans-serif
    &::placeholder
      font: 400 0.9375rem/1.125rem 'Lato', sans-serif
  .form__text-red, .form__text-blue
    color: #8C97AC
    font: 400 0.875rem/130% 'Lato', sans-serif
  .form__text-red
    margin-top: 0.3125rem
    margin-bottom: 0.3125rem
    color: #1D293F
  .button__file
    min-height: 2.5rem
    font: 400 0.875rem/1.0625rem 'Lato', sans-serif
  .form__button-area
    align-items: center
    margin-top: 1.875rem
    .button
      min-height: 2.0625rem
      font: bold 0.875rem/1.0625rem 'Lato', sans-serif
  .select-placeholder
    background-color: #fff
    font: 400 0.9375rem/1.125rem 'Lato', sans-serif
