.slider-life-area
  margin-top: 1.5625rem
  margin-bottom: 9.375rem

.life-big
  min-height: 12.5rem
  max-height: 31.25rem
  .slick-arrow
    display: none!important
  .slick-list
    border-radius: 0.625rem
    overflow: hidden
    margin-bottom: 3.125rem
  .slick-slide
    max-height: 31.25rem

@media (max-width: 575px)
  .life-small
    padding: 0!important
  .life-big .slick-slide img
      object-fit: cover

.life-small
  padding: 0 1.875rem
  .slick-arrow.slick-prev
    left: -0.625rem
  .slick-arrow.slick-next
    right: -0.625rem
  .slick-slide div
    display: flex
    justify-content: center
    height: 100%
  .slick-list
    height: 110px
    margin: 0 -0.625rem
  .slick-slide.slick-current:before
    display: none
    //filter: grayscale(0%)
  .slick-slide
    position: relative
    border-radius: 0.625rem
    overflow: hidden
    cursor: pointer
    width: 160px
    flex: 0 0 160px
    margin: 0 0.625rem
    height: 110px
    background: rgba(255, 255, 255, 0.5)
    img
      height: 100%
      width: 100%
      object-fit: cover
    &:before
      content: ''
      position: absolute
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5))
      width: 100%
      height: 100%

