.review-carousel
  .slick-slide > div
    display: flex

.review-carousel-slide
  display: flex !important
  flex-direction: column
  margin: 0 auto
  //border: 0.0625rem solid
  width: 39.375rem !important
  height: 29.375rem
  position: relative
  &__review
    left: 1.875rem
    bottom: 4.375rem
    z-index: 5
    position: absolute
    width: 18.75rem
    padding: 1.25rem 1.25rem 1.875rem 1.25rem
    background: #FFFFFF
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.2)
    border-radius: 5px
  &__name
    color: #197BBD
    font: 400 0.9375rem/1.125rem "Lato", sans-serif
    margin-bottom: 0.375rem
  &__post
    margin-bottom: 0.625rem
    color: #7C8087
    font: 700 0.8125rem/130% "Lato", sans-serif
    span
      color: #6D87A1
  &__text
    color: #39464F
    font: 400 0.9375rem/150% "Lato", sans-serif
  &__photo
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%)
    bottom: 0
    right: 0
    z-index: 3
    position: absolute
    max-width: 20.75rem
    width: 100%
    overflow: hidden
    border-radius: 0.625rem
    height: 27.375rem
    img
      object-fit: cover

@media (max-width: 575px)
  .review-carousel-slide
    align-items: center
    flex-direction: column-reverse
    height: auto
  .review-carousel-slide__photo
    position: relative
    top: auto
    bottom: auto
    right: auto
    left: auto
  .review-carousel-slide__review
    position: relative
    bottom: 0
    width: 95%
    left: 0
    box-shadow: 0px 2px 10px rgb(0 0 0 / 10%)
    margin: 1.25rem 0.5rem
