.jobs-carousel
  //padding: 0.9375rem
  margin-bottom: 3.125rem
  //margin-right: -0.9375rem
  //margin-left: -0.9375rem
  .slick-list
    position: relative
    margin: 0 -0.9375rem
    &:before,
    &:after
      content: ''
      position: absolute
      top: 0
      width: 6.25rem
      height: 100%
      opacity: 0.9
      z-index: 100
    &:before
      left: 0
      box-shadow: 3.1875rem 0 35px -25px #fff inset
    &:after
      right: 0
      box-shadow: -3.1875rem 0 35px -25px #fff inset
  .slick-slide
    padding: 0 0.9375rem
    display: flex
    justify-content: center
    & > div
      width: 100%
  .card-job
    margin-top: 0.9375rem
    margin-bottom: 0.9375rem

