.footer
  margin-top: auto
  position: relative
  z-index: 5
  background-color: #2F5379
  padding: 4.0625rem 0 0 0
  a
    text-decoration-line: none
  &__block
    margin: 0 0 3.125rem 0
  &__line
    min-height: 4rem
  &__logo
    margin: 0 0 1.875rem 0
    img
      max-width: 100%
  &__text
    color: #D7D7D7
    font: 400 1rem/1.25rem 'Lato', sans-serif
    margin: 0 0 1.6875rem 0

.footer-line
  background-color: #273D54
  padding: 0.5625rem
  &__text
    margin: 0
    padding: 0.5625rem 0
    color: #8C97AC
    font: 400 0.875rem/1.75rem 'Lato', sans-serif

.footer-navigation
  &__block
    margin-right: 6.25rem
    margin-bottom: 3.125rem
  &__title
    white-space: nowrap
    color: #FFFFFF
    font: 700 1.3125rem/2rem 'Lato', sans-serif
    margin-bottom: 0.625rem
  &__list
  &__item
  &__link
    white-space: nowrap
    color: #fff
    font: 400 0.9375rem/2.125rem 'Lato', sans-serif
    &:focus,
    &:active
      color: #fff
    &--active,
    &:hover
      color: #81B7FF
