.button
  user-select: none
  text-decoration: none
  display: flex
  justify-content: center
  align-items: center
  padding: 0.3125rem 0.625rem
  transition: 0.5s ease all
  outline: none
  border: none
  cursor: pointer
  position: relative
  &__input
    cursor: pointer
    opacity: 0
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.button__white
  border-radius: 1.875rem
  background-color: #fff
  color: #BD0A2F
  font: bold 0.875rem/1.0625rem 'Lato', sans-serif
  &:hover,
  &:active
    background-color: #BD0A2F
    color: #fff

.button__red
  border-radius: 0.3125rem
  background-color: #BD0A2F
  color: #fff
  font: bold 1.125rem/1.25rem 'Lato', sans-serif
  &:hover,
  //&:focus,
  &:active
    background-color: #AC0528
    color: #fff
  &--no-click
    pointer-events: none
    background-color: #EFF3F6
    color: #8C97AC
    cursor: no-drop
.button__blue
  border-radius: 0.3125rem
  background-color: #197BBD
  color: #fff
  font: 700 0.8125rem/1rem 'Lato', sans-serif
  //&:focus
  &:hover
    background-color: #1872AF
    color: #fff
  &:active
    background-color: #1872AF

.button__transparent
  border: 1px solid #2F5379
  border-radius: 0.3125rem
  background-color: transparent
  color: #2F5379
  font: 700 0.8125rem/1rem 'Lato', sans-serif
  &:hover,
  //&:focus,
  &:active
    border-color: #BD0A2F
    background-color: #BD0A2F
    color: #fff

.button__footer
  display: inline-block
  background-color: #ffffff
  border-radius: 0.3125rem
  padding: 0.75rem 1.25rem
  font: 700 0.9375rem/1.25rem 'Lato', sans-serif
  color: #2F5379
  &:hover,
  //&:focus,
  &:active
    background-color: #BD0A2F
    color: #fff

.button__file
  padding: 0.75rem 2.1875rem
  background: #E8F3FE
  color: #2F5379
  box-shadow: 0px 0.125rem 0.625rem #D6E1ED
  border-radius: 1.875rem
  font: 500 1.125rem/1.25rem 'Lato', sans-serif
  &:hover,
  //&:focus,
  &:active
    color: #2F5379
    background: #E8F3FE

.button__gray
  padding: 0.3rem 2.1875rem
  background: #EFF3F6
  color: #197BBD
  border-radius: 0.3125rem
  font: 700 0.8125rem/1rem 'Lato', sans-serif
  &:hover,
  //&:focus,
  &:active
    background: #EFF3F6
    color: #197BBD

.button:disabled,
.button[disabled],
.disabled
  cursor: no-drop
  pointer-events: none
  color: #8C97AC
  &:hover,
  //&:focus,
  &:active
    cursor: no-drop
    color: #8C97AC

.button-filter-search
  width: 100%
  border: 2px solid #8C97AC
  color: #2F5379
  font: 700 0.9375rem/1.125rem 'Lato', sans-serif
  padding: 0.3125rem 0.625rem
