@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap')

@import './buttons'
@import './style'
@import './media'

html
  scroll-behavior: smooth
  height: 100vh
  overflow-x: hidden

body
  display: block
  min-height: 100%
  overflow-x: hidden
  font-size: 16px
  font-family: "PT Sans", sans-serif


body,
#root,
#page-wrap
  height: 100%
//#page-wrap > .container-fluid



dl, ol, ul
  margin: 0
  padding: 0

*
  box-sizing: border-box

li
  list-style: none

a,
a:hover,
a:active,
a:focus
  color: #333333

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6
  margin: 0

hr
  margin: 0
.container-fluid
  padding: 0

.mt-0
  margin-top: 0!important

.mr-0
  margin-right: 0 !important

.mb-0
  margin-bottom: 0!important

.ml-0
  margin-left: 0 !important

.ml-auto
  margin-left: auto !important

.mt-5
  margin-top: 0.3125rem !important

.mr-5
  margin-right: 0.3125rem !important

.mb-5
  margin-bottom: 0.3125rem !important

.ml-5
  margin-left: 0.3125rem !important

.mt-10
  margin-top: 0.625rem !important

.mr-10
  margin-right: 0.625rem !important

.mb-10
  margin-bottom: 0.625rem !important

.ml-10
  margin-left: 0.625rem !important

.mt-15
  margin-top: 0.9375rem !important

.mr-15
  margin-right: 0.9375rem!important

.mb-15
  margin-bottom: 0.9375rem !important

.ml-15
  margin-left: 0.9375rem !important

.mt-20
  margin-top: 1.25rem!important

.mr-20
  margin-right: 1.25rem!important

.mb-20
  margin-bottom: 1.25rem!important

.ml-20
  margin-left: 1.25rem!important

.mt-25
  margin-top: 1.5625rem!important

.mr-25
  margin-right: 1.5625rem!important

.mb-25
  margin-bottom: 1.5625rem!important

.ml-25
  margin-left: 1.5625rem!important

.mt-30
  margin-top: 1.875rem!important

.mr-30
  margin-right: 1.875rem!important

.mb-30
  margin-bottom: 1.875rem!important

.ml-30
  margin-left: 1.875rem!important

.minh-auto
  min-height: auto

.text-black
  color: #38454E

.slick-slide,
.slick-slide div
  outline: none

.form-control
  &:active
  &:focus
    //border-color: transparent
    box-shadow: none
    //outline: none

.line-red
  background-color: #BD0A2F
  margin: 0 0.625rem
  max-width: 6.25rem
  width: 100%
  height: 0.3125rem
  border-radius: 3.125rem

input[type="date"]
  position: relative

input[type="date"]::-webkit-calendar-picker-indicator
  background: transparent
  bottom: 0
  color: transparent
  cursor: pointer
  height: auto
  left: 0
  position: absolute
  right: 0
  top: 0
  width: auto

.checkbox-fade label input[type="checkbox"],
.checkbox-fade label input[type="radio"]
  display: none

.checkbox-fade label
  user-select: none
  cursor: pointer
  font: 400 0.9375rem/1.125rem "Lato", sans-serif
  .count
    margin-left: 0.3125rem
    color: #8C97AC
    font-weight: 700

.checkbox-fade .cr
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center
  float: left
  flex: 0 0  1.25rem
  width: 1.25rem
  height: 1.25rem
  margin-right: 0.625rem
  //position: relative
  border: 0.0625rem solid #8C97AC
  background-color: #fff
  border-radius: 0.125rem
  img
    width: 1.0625rem
    height: 0.8125rem

.checkbox-fade label input[type="checkbox"]:checked + .cr
  background: #197BBD
  border: 1px solid #197BBD

.checkbox-fade label input[type="checkbox"] + .cr > p,
.checkbox-fade label input[type="radio"] + .cr > p
  transform: rotate(-130deg) scaleY(1)
  opacity: 0
  transition: all 0.3s ease-in

.checkbox-fade label input[type="checkbox"]:checked + .cr > p,
.checkbox-fade label input[type="radio"]:checked + .cr > p
  opacity: 1

.checkbox-fade
  //position: relative
  &--mb-10
    margin-bottom: 0.625rem
  .check-task
    display: flex
    align-items: flex-start
    width: 100%
  //&--float-right
  //  .cr
  //    float: right
  //    margin-left: 0.625rem
  //    margin-right: 0
.form-group
  input
    height: 100%

.carousel-custom-arrow
  .slick-dots
    display: none!important
  .slick-arrow.slick-prev:before,
  .slick-arrow.slick-next:before
    content: ''
    position: absolute
    top: 0
    height: 3.75rem
    width: 1.25rem
    background-size: contain
    background-repeat: no-repeat
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next
    height: 3.75rem
    width: 1.25rem
  .slick-arrow.slick-prev
    &:before
      left: -1.875rem
      background-image: url("../../assets/images/prev.png")
  .slick-arrow.slick-next
    &:before
      right: -1.875rem
      background-image: url("../../assets/images/next.png")

.img-responsive
  display: block
  height: auto
  max-width: 100%

input::-webkit-calendar-picker-indicator
  opacity: 0
