@media (max-width: 1400px)
  .menu__link
    margin: 0 0 0 1.75rem

@media (max-width: 1200px)
  .history-board__col,
  .history-board__col--middle
    border-left: none
    border-bottom: 1px dashed #B8BAC1!important
    margin-bottom: 0.9375rem
    padding-bottom: 0.9375rem
  .history-board__col--mlr-20,
  .history-board__col--middle
    margin-left: 0
  .col-revers
    flex-direction: column-reverse!important
    .history-board--left-border
      display: flex
      padding-top: 0
      flex-direction: column-reverse!important
  .history-board__photo
    width: 50%
    height: 100%
  .history-board__col
    align-items: center
  .job-map
    margin: 0 0 6.25rem 0
  .filter
    padding: 0

@media (max-width: 1100px)
  .menu
    display: none


@media (max-width: 991px)
  body, html
    font-size: 14px!important
  .advantages__col-title
    margin-bottom: 1rem
  .error-block__title,
  .title-block--md
    h2
      font-size: 2rem
      line-height: 2.2rem
  header
    flex-wrap: wrap
  .search
    flex-direction: column
    &__select,
    &__input
      flex: 1 1 50%
      padding: 0 0.625rem!important
    &--border
      border-radius: 0.625rem!important
    &__form
      border-radius: 0.3125rem
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0
    &__button
      padding-top: 0.625rem
      padding-bottom: 0.625rem
      margin-left: 0
      border-radius: 0.3125rem
      border-top-right-radius: 0
      border-top-left-radius: 0
  .card-job
    padding: 1.875rem 0.9375rem 0.9375rem 0.9375rem
    &__job
      display: inline-block
      min-height: auto
      font: 500 1rem/1.25rem 'Lato', sans-serif
    &__salary
      font: 500 1.75rem/1.95rem 'Lato', sans-serif
  .advantages-block__image,
  .advantages-info__image
    width: 100%
    height: 100%
    margin-left: auto
    margin-right: auto
    margin-bottom: 0.625rem
  .team-main
    &__image
      margin-right: 0
      margin-bottom: 1.875rem
  .advantages-block__item
    margin-bottom: 0.9375rem
  .filter-drop-block
    transform: translate(-50%, 0)
    left: 50%
    right: 0
    margin-top: 3.125rem
  .filter-drop-block__vector
    transform: translate(-50%, -25px) rotate(0)
    left: 50%

@media (max-width: 767px)
  header
    align-items: center
  .statistic__item
    margin: 0.9375rem 0
  .statistic__count--middle
    border-left: none
    border-right: none
    border-top: 2px solid #E1E1E1
    border-bottom: 2px solid #E1E1E1
    padding: 1.875rem 0
  .logo-header__link,
  .interview
    margin-top: 0.3125rem
    margin-bottom: 0.3125rem
  .interview
    margin-left: 0

@media (max-width: 575px)
  .title-block--page__main
    margin-top: 3rem
    margin-bottom: 2rem
  img
    max-width: 100%
  .history-board__photo
    width: 100%
  .advantages-block__image
    margin-right: 0
    width: 100%
    height: 100%
