.loading
  transform: scale(0.8)
.page
  &__privacy
    margin: 1.875rem 0
  &__error
    margin: 1.875rem 0 0 0
  &__history
  //margin: 1.875rem 0 0 0
  &__advantages
    margin: 1.875rem 0 0 0
  &__contact
    margin: 1.875rem 0 0 0
  &__search
    margin: 1.875rem 0 0 0
  &__main
    margin: 1.875rem 0 0 0
    &-tags
      margin: 1.875rem 0
  &__vacancy
    padding-top: 1.875rem

.page-jobs
  &__search
    margin-bottom: 3.125rem

.page-vacancy

.header-area
  background-color: #2F5379
  position: sticky
  top: 0
  z-index: 999

header
  min-height: 4.375rem
//margin-bottom: 1.875rem
//.container
//  max-width: 69.375rem!important
.menu
  margin: 0 1rem

.logo-header__img
  object-fit: contain

.logo-header__link,
.menu__item
  flex: 1
  position: relative

.menu__link
  font: bold 0.75rem/0.875rem 'Lato', sans-serif
  margin: 0 0 0 3.75rem
  color: #F4F4F4
  text-decoration-line: none
  white-space: nowrap
  border-bottom: 3px solid transparent
  text-transform: uppercase
  user-select: none
  &:hover,
  &:active,
  &:focus
    color: #F4F4F4

.menu__link span
  user-select: none
  position: relative
  top: 0.3125rem

.menu__item--active
  .menu__link
    border-bottom: 3px solid #BD0A2F

.interview
  margin-left: auto
  max-width: 17.375rem
  width: 100%
  .button
    padding-left: 1.25rem
    padding-right: 1.25rem
    white-space: nowrap
    width: 100%
    //flex: 1 0 17.375rem
    min-height: 1.875rem

.info-text
  font: 400 1.0625rem/1.5625rem 'Lato', sans-serif

.history-board__date
  margin-bottom: 0.625rem
  margin-top: 0.625rem
  color: #BD0A2F
  font: 600 2rem/2.375rem 'Lato', sans-serif

.history-board--mb10
  margin: 0 0 0.625rem 0

.history-board__info
  span
    color: #38454E
    font: 400 0.9375rem/1.25rem 'Lato', sans-serif
  .info-1
    font-weight: bold
    margin: 0 0 0.3125rem 0
  .info-2
    text-transform: uppercase
    font: 400 0.6875rem/0.9375rem 'Lato', sans-serif

.history-board--left-border
  padding-left: 1.0625rem
  padding-right: 1.0625rem
  //border-left: 1px dashed #B8BAC1
  //padding-bottom: 3.75rem
  padding-top: 3.75rem

.history-board__col
  border-left: 1px dashed #B8BAC1
  //max-width: 130px
  //height: 29.6875rem
  height: auto
  flex: 1 1 auto
  width: 100%
//margin: 0 1.25rem

.history-board__col--middle
  flex: 1 0 13.625rem
  margin-left: 1.375rem

.history-board__image
  width: 100%
  margin-left: -0.0625rem
  margin-top: auto
  background-color: #EBEEF3
  height: 170px

.history-board__image--mt60
  margin-top: 3.75rem

.history-board__col--mlr-20
  margin-right: 1.25rem
  margin-left: 1.25rem

.history-board__photo
  width: 8.5rem
  height: 6.25rem
  margin: 2px 0
  transition: 0.2s ease all
  object-fit: contain
  &:hover
    transform: scale(1.3)

.history-board__col--middle
  .history-board__image
    background-color: transparent
    margin-top: auto
    height: 100%
    transition: 0.2s ease all
    &:hover
      transform: scale(1.3)

.history-board__date,
.history-board__info .info-1,
.history-board__info .info-2
  text-align: center

.title-block
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  h2
    color: #38454E
    //word-break: break-all
    font: normal 3.25rem/4rem 'Lato', sans-serif
  b
    font-weight: 700
  &--page__history
    margin: 4.375rem 0 4.375rem 0
  &--page__privacy
    margin: 0 0 2.5rem 0
  &--page__contact
    margin: 0 0 1.25rem 0
  &--page__saerch
    margin: 2.8125rem 0 1.875rem
  &--page__main
    margin: 6.25rem 0 3.125rem 0
  &__text
  &__link
    margin: 0.3125rem 0
  &--page__team
    margin: 5.9375rem 0 3.125rem 0
  &--page__jobs
    margin: 4.125rem 0 1.875rem 0
  &--page__job
    margin: 0.75rem 0 2.5rem 0

.sub-title
  color: #5B6166
  font: 400 1.125rem/1.6875rem 'Lato', sans-serif

.text-blue
  font: 400 1.625rem/2.4375rem 'Lato', sans-serif
  color: #197BBD

.info-text--page__history
  margin-bottom: 4.375rem

.text-blue--page__history
  font-style: italic
  margin: 5.3125rem 0 5.3125rem 0

.statistic__item
  margin: 0 0.9375rem
  flex: 1 1 auto

.statistic__count
  color: #1D293F
  font: 700 2.625rem/2.75rem 'Lato', sans-serif

.statistic__text
  color: #1D293F
  font: 500 1rem/2rem 'Lato', sans-serif
  text-transform: uppercase

.statistic__count--middle
  border-left: 2px solid #E1E1E1
  border-right: 2px solid #E1E1E1
  padding: 0 1.875rem

.statistic--page__history
  margin: 0 0 4.375rem 0

.job-map
  margin: 0 7.5rem 6.25rem 7.5rem
  img
    max-width: 100%

.text-red
  color: #BD0A2F

.customs
  margin-bottom: 5rem

.customs__title
  font: 500 2rem/2rem 'Lato', sans-serif
  margin: 0 0 3.4375rem 0

.customs__item
  margin: 0 0.9375rem 0.9375rem 0.9375rem

.customs__img
  margin-bottom: 1.875rem
  width: 11.6875rem
  height: 6rem

.customs__item
  p
    font: 700 0.9375rem/1.25rem 'Lato', sans-serif

.advantages
  margin-bottom: 1.875rem

.title-block--page__advantages
  margin-bottom: 1.875rem

.page__advantages
  margin-bottom: 6.25rem
  width: 100%
  display: inline-block

.advantages__col-title
  color: #197BBD
  font: 500 2.125rem/2.125rem 'Lato', sans-serif
  margin-bottom: 1.75rem

.advantages__col-text
  color: #333333
  font: 400 1.125rem/1.6875rem 'Lato', sans-serif #197BBD
  margin-bottom: 0.9375rem
  p
    margin: 0
  .line
    position: relative
    //padding-left: 1.5625rem
    &:before
      margin-right: 0.625rem
      position: relative
      content: ''
      width: 1.125rem
      height: 0.1875rem
      border-radius: 0.3125rem
      background-color: #197BBD
      display: inline-block
      top: -0.25rem

.advantages__col-img
  //max-width: 33.6875rem
  width: 100%
  //max-height: 19.6875rem
  img
    width: 100%

.page__error
  margin: 6.25rem 0

.error-block__img
  max-width: 100%

.error-block__title
  display: inline-block
  color: #38454E
  font: 700 3.25rem/4.1875rem 'Lato', sans-serif
  margin-bottom: 1.75rem

.error-block__text
  letter-spacing: -0.0625rem
  margin-bottom: 2.1875rem
  color: #38454E
  font: 700 1.625rem/130% 'Lato', sans-serif

.button--page__error
  max-width: 20.125rem
  width: 100%
  min-height: 2.8125rem

.card-job-list
  margin-bottom: 4.6875rem

.card-job
  overflow: hidden
  position: relative
  border: none
  background: #FFFFFF
  box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.15)
  border-radius: 0.625rem
  padding: 2.125rem 1.875rem 1.875rem 1.875rem
  margin-bottom: 0.9375rem
  &--big
    margin-bottom: 0.9375rem
  &__job
    font: 500 1.5rem/2.125rem 'Lato', sans-serif
    color: #197BBD
    margin-bottom: 1.125rem
    min-height: 6.375rem
    &--color, a
      text-decoration: none
      color: #197BBD
      &:hover,
      &:active,
      &:focus
        color: #BD0A2F
  &__desc
    font: 400 0.875rem/140% "Open Sans", sans-serif
  &__salary
    color: #2F5379
    font: 700 1.5rem/2.375rem 'Lato', sans-serif
    .rub
      font-weight: 300
    .from
      font-size: 1.125rem
      line-height: 1.375rem
  &__date
    color: #AEAEAE
    font: 400 0.875rem/1.0625rem 'Lato', sans-serif
  &__buttons
    margin-top: 1.875rem
  &:before
    content: ''
    height: 0.875rem
    width: 100%
    position: absolute
    top: 0
    left: 0
    background: rgba(25, 123, 189, 0.2)
  &__buttons
    margin-top: 1.255rem
    .button
      padding: 0.375rem
      min-height: 1.875rem
  &__blue,
  &__transparent
    margin-top: 0.625rem
  &__blue
    margin-right: 0.625rem
    max-width: 7.3125rem
    width: 100%
  &__transparent
    width: 100%
    max-width: 10rem

.card-job__header
  margin-bottom: 0.9375rem
  &--status
    //margin-right: 0.3125rem
  &__img
    margin-right: 0.4375rem
  &__text
    word-break: break-all
    color: #8C97AC
    font: 700 1rem/1.1875rem 'Lato', sans-serif

.status
  white-space: nowrap
  border-radius: 5px
  padding: 0.4375rem 0.9375rem
  font: 700 0.8125rem/1rem 'Lato', sans-serif
  &_all_day
    background: rgba(15, 188, 73, 0.1)
    color: #73BA75
  &_change_chart
    background: rgba(245, 166, 35, 0.148721)
    color: #F5A623
    margin-left: auto
  &_flexible_chart
    background: rgba(214, 19, 31, 0.1)
    color: #F64B4B

.tags
  &__tag
    display: inline-block
    position: relative
    background-color: transparent
    border-radius: 3.125rem
    border: 1px solid #8C97AC
    margin-right: 0.625rem
    margin-bottom: 0.625rem
    line-height: 0

.tags-line
  margin: 0.625rem 0 0.9375rem 0

.tags__tag
  .tag__text
    text-align: center
    display: inline-block
    padding: 0.6rem 1rem
    font: 400 1rem/1.1875rem 'Lato', sans-serif
    color: #38454E

.tag__close
  margin: 0 0 0 0.625rem
  position: absolute
  right: 0.625rem
  top: calc(50% - 0.5rem)

.tag-jod
  transition: 0.3s ease all
  &__text
    padding-left: 2.1875rem
    padding-right: 2.1875rem
  .tag__text
    font: 600 0.8125rem/1rem 'Lato', sans-serif
    padding-top: 0.4375rem
    padding-bottom: 0.4375rem
    padding-right: 1.875rem
    padding-left: 1.875rem
  img
    opacity: 0
    pointer-events: none
  &:hover
    background-color: #EAEEF2
    border-color: #EAEEF2
    &__text
      color: #38454E
    img
      pointer-events: auto
      opacity: 1

.privacy__info
  h6
    margin: 0
    color: #273D54
    font: 600 1.3125rem/1.875rem 'Lato', sans-serif
  p
    font: 400 0.9375rem/1.3125rem 'Lato', sans-serif

.contact-block
  margin-top: 1.5625rem
  &__text
    color: #273D54
    font: 400 1.125rem/1.4375rem 'Lato', sans-serif
    margin-bottom: 1.25rem
  &__contacts
    margin-bottom: 1.575rem
  &__info
    //margin-bottom: 1.875rem
    p
      margin: 0
      color: #273D54
      font: 400 0.9375rem/1.125rem 'Lato', sans-serif
  &__form
    margin-bottom: 1.6rem
    .form-control
      height: 1.875rem
      margin-bottom: 0.625rem
  &__button-red
    height: 1.875rem
    width: 100%
    font: 700 0.9375rem/1.0625rem 'Roboto', sans-serif
  &__chart
    p
      margin-bottom: 0.25rem
      font: 400 0.9375rem/1.125rem 'Roboto', sans-serif
      span
        color: #2F5379

.contact-contacts
  &__item
    line-height: 1.125rem
    margin-bottom: 0.25rem
  &__img
    margin: 0 0.625rem 0 0
  &__text
    color: #2F5379
    font: 400 0.9375rem/1.125rem 'Lato', sans-serif

.name-organization
  color: #5B6166
  font: 400 1.5rem/2.25rem 'Open Sans', sans-serif

.line
  //margin: 3.125rem 0 1.875rem 0
  margin: 3.125rem 0 0 0

.map
  height: 20.625rem

.search-null
  margin: 0 0 3.4375rem 0
  color: #5B6166
  letter-spacing: -2%
  font: 400 1.125rem/1.6875rem 'Open Sans', sans-serif

.search
  margin: 0.625rem 0
  position: relative
  z-index: 1
  &--border
    border-radius: 0.625rem
  &__form
    background-color: #fff
    min-height: 2.625rem
    border-top-left-radius: 0.625rem
    border-bottom-left-radius: 0.625rem
    border: 0.125rem solid #8C97AC
  &__select,
  &__input
    padding-left: 2.5rem
    padding-right: 2.5rem
    .form-control
      border: none
      padding: 0
  &__select
    flex: 1 1 40%
    select
      width: 100%
  &__input
    flex: 1 1 60%
    border-right: 0.1875rem dashed #E2E4E8
  &__icon
    margin: 0 0.625rem 0 0
  &__button
    white-space: nowrap
    padding-left: 1.875rem
    padding-right: 1.875rem
    font: 400 1rem/1.1875rem 'Lato', sans-serif
    margin-left: -0.0625rem
    border-top-left-radius: 0
    border-bottom-left-radius: 0
  &-big
    padding-top: 1.5625rem
    padding-bottom: 1.5625rem
    border: none

.search-stub
  margin: 3.75rem 0
  &__image
    display: inline-block
    max-width: 100%

.banner
  background-color: #fff
  position: relative
  min-height: 41.25rem
  &__image
    position: absolute
    top: 0
    left: 0
    object-fit: cover
    width: 100%
    height: 100%
    z-index: 0
  &__info
    margin-top: 11.25rem
    position: relative
    z-index: 1
    max-width: 40rem
    width: 100%
    margin-bottom: 5rem
  &__title
    color: #FFFFFF
    font: 700 3.5rem/4.5625rem 'Lato', sans-serif
    margin-bottom: 2.1875rem
  &__text
    max-width: 30.5rem
    width: 100%
    color: #FFFFFF
    font: 400 1.3125rem/2.125rem 'Lato', sans-serif
  &__search
    max-width: 64.375rem
    width: 100%
    margin-bottom: 3.125rem

.advantages-block
  margin-bottom: 2.3125rem
  &__item
    margin-bottom: 0.3125rem
  &__image
    margin-right: 2.9375rem
    height: 10.625rem
    width: 14.375rem
    flex: 0 0 14.375rem
    img
      width: 100%
  &__info
    width: 100%
  &__title
    font: 400 1.3125rem/2rem 'Lato', sans-serif
    color: #1D293F
    margin-bottom: 0.5rem
  &__text
    margin-bottom: 0

.advantages-info
  &__image
    height: 100%
    //max-height: 15.9375rem
    width: 100%
    margin-bottom: 2.5rem
    text-align: center
    img
      max-width: 100%
  &__title
    color: #197BBD
    font: 400 1.625rem/2rem 'Lato', sans-serif
    margin-bottom: 1.125rem
  &__text
    color: #38454E
    font: 400 1rem/1.5rem 'Lato', sans-serif
    margin-bottom: 0.875rem
  &__author
    color: #197BBD
    text-align: right
    font: 400 0.9375rem/1.375rem 'Open-Sans', sans-serif

.form.form-modal
  margin-bottom: 0.9375rem
  box-shadow: none
  padding: 0
  .form__warning
    margin-bottom: 1.25rem

.form
  margin-bottom: 6.125rem
  background-color: #ffffff
  box-shadow: 0px 2px 25px rgba(47, 83, 121, 0.15)
  border-radius: 0.625rem
  padding: 4.25rem 1.875rem 3.75rem 1.875rem
  position: relative
  z-index: 5
  &__group
    margin: 0 -0.9375rem
    &-mb40
      margin-bottom: 2.5rem
  &__field
    position: relative
    display: flex
    flex-flow: column-reverse
    margin-bottom: 0.5em
  &__input
    transition: all 0.2s
    touch-action: manipulation
    border: 0
    min-height: 2rem
    font: 300 1.125rem/1.5rem 'Lato', sans-serif
    border-bottom: 1px solid #ccc
    font-family: inherit
    -webkit-appearance: none
    border-radius: 0
    padding: 0
    cursor: text
    &:focus
      outline: 0
      border-bottom: 1px solid #666
    &-error
      border-color: #BD0A2F
  &__label
    transition: all 0.2s
    touch-action: manipulation
    font: 500 1.125rem/34px 'Lato', sans-serif
  &__input-container
    flex: 1 1 auto
    margin-left: 0.9375rem
    margin-right: 0.9375rem
    margin-bottom: 1rem
    display: inline-block
  &__error
    display: none
    color: #BD0A2F
    font: 400 0.875rem/1rem 'Lato', sans-serif
    &-visible
      display: inline-block
  &__text-red,
  &__text-blue
    font: 400 1rem/1.375rem 'Lato', sans-serif
  &__text-blue
    color: #2F5379
  &__warning
    margin-bottom: 3.4375rem
  &__info
    margin: 0.625rem 0
  &__button__red
    max-width: 20.125rem
    width: 100%
    min-height: 2.8125rem
    font: 400 1.125rem/1.25rem 'Lato', sans-serif

.form-main
  input
    padding-left: 0.625rem
    z-index: 2
    background-color: transparent
  .form__field.form__no-empty  .form__label,
  .form__input:focus ~ .form__label
    top: -20px
  .form__label
    z-index: 1
    top: 0
    transition-duration: .1s
    transform: translateZ(0)
    position: absolute

.react-datepicker-popper
  z-index: 999
.form__field
  .react-datepicker__input-container
    input:focus
      color: transparent
  &.form__no-empty
    .react-datepicker__input-container
      input:focus
        color: #333

input
  &::placeholder
    background-color: #fff
    font: 400 1.125rem/1.5rem 'Lato', sans-serif
.select-placeholder
    background-color: #fff
    font: 400 1.125rem/1.5rem 'Lato', sans-serif

.team
  &__other

.team-main
  margin-bottom: 4.0625rem
  &__image
    max-width: 21.875rem
    width: 100%
    height: 12.1875rem
    margin-right: 7.5rem
  &__author
  &__block
    padding-left: 2rem
    margin-top: 0.3125rem
    padding-top: 1rem
    width: 16.25rem
    border-top: 1px solid #B8BAC1
  &__info
    padding-top: 0.3125rem
  &__text
    color: #333333
    font: 400 1rem/1.5rem 'Lato', sans-serif
  &__name
    white-space: nowrap
    color: #1D293F
    font: 600 0.9375rem/1.25rem 'Lato', sans-serif
  &__post
    white-space: nowrap
    color: #2F5379
    font: 400 0.9375rem/1.25rem 'Lato', sans-serif

.team-other
  margin-bottom: 6.25rem
  &__item
    margin-right: 0.9375rem
    margin-left: 0.9375rem
    margin-bottom: 1.875rem
  &__image
    width: 12.75rem
    height: 7.5rem
    margin-bottom: 1.25rem
    img
      max-width: 100%
  &__name
    white-space: nowrap
    color: #1D293F
    font: 400 1.0625rem/130% 'Lato', sans-serif
  &__post
    white-space: nowrap
    color: #2F5379
    font: 400 0.875rem/150% 'Lato', sans-serif

.filter
  //border: 1px solid red
  position: relative
  padding-right: 1.875rem
  &__title
    color: #2F5379
    margin-bottom: 0.3125rem
    font: 400 1.5rem/1.75rem 'Lato', sans-serif
  &__button
    padding: 0
    background: transparent
    font: 400 0.9375rem/1.125rem 'Lato', sans-serif
    border-radius: 0
    color: #38454E
    text-decoration-line: underline
  &__block
    font: 400 0.9375rem/1.125rem 'Lato', sans-serif

.filter-drop-block
  top: 0
  width: fit-content
  display: none
  transition: 0.5s ease all
  //opacity: 0
  position: absolute
  background-color: #8C97AC
  right: -10.5rem
  z-index: 10
  border-radius: 0.3125rem
  &__body
    position: relative
    padding: 0.9375rem 2.5rem  0.9375rem  1.25rem
  &__vector
    left: -0.85rem
    top: 0.75rem
    position: absolute
    transform: rotate(-90deg)
    width: fit-content
    img
      height: 0.5rem
      width: 1.1875rem
  &__close
    cursor: pointer
    position: absolute
    top: 0.5rem
    right: 0.5rem
  &__title

    font: 700 0.9375rem/18px 'Lato', sans-serif
    color: #F8FAFF
    margin-bottom: 0.5rem
  &__result
    cursor: pointer
    color: #F8FAFF
    font: 400 0.9375rem/18px 'Lato', sans-serif

.filter-block
  transition: 0.3s ease all
  //width: 14.6875rem
  background: #EDF5FE
  padding: 1.0625rem
  font: 400 1.3125rem/1.5625rem 'Lato', sans-serif
  color: #38454E
  margin-bottom: 0.625rem
  &__title
    cursor: pointer
    color: #38454E
    font: 400 1.3125rem/1.5625rem 'Lato', sans-serif
    span
      word-break: break-all
  //margin-bottom: 0.625rem
  &__arrow
    transition: 0.3s ease all
    transform: rotate(180deg)
    cursor: pointer
    padding: 0.3125rem
  &__list
    transition: 0.3s ease all
    opacity: 1
    height: 100%
    margin-top: 0.625rem
  //margin-bottom: 1.25rem
  &__item
  &__button
    margin-left: 1.875rem
  &--close
    background-color: #fff
    .filter-block__list
      opacity: 0
      margin-top: 0
      max-height: 0
      overflow: hidden
      //display: none
    .filter-block__arrow
      transform: rotate(0deg)
  .check-task
    align-items: baseline!important

.pagination
  &__link-page
    flex: 1 1 50%
  &__link-text
    font: 400 0.8125rem/1rem 'Lato', sans-serif
  &__pagination
    flex: 1 1 50%
  &__form
    max-width: 3.5625rem
    width: 100%
    height: 1.875rem
  &__button__gray
    padding-left: 0.3125rem
    padding-right: 0.3125rem
    min-height: 1.875rem
    max-width: 5.875rem
    width: 100%
  &__num
    text-decoration-line: none
    margin: 0 0.125rem
    border-radius: 0.3125rem
    font: 600 0.9375rem/1.125rem 'Lato', sans-serif
    color: #197BBD
    padding: 0.5rem 0.5625rem
    &:hover,
    &:active,
    &--active
      color: #fff
      background-color: #197BBD

.jobs-info-search
  margin: 0.3125rem 0 0.9375rem 0
  &__count
    color: #197BBD
    font: 500 1rem/1.1875rem 'Lato', sans-serif

.vacancy
  margin-bottom: 4.0625rem
  &__title
    h1
      color: #197BBD
      font: 500 1.75rem/2.125rem 'Lato', sans-serif
  &__salary
    margin-bottom: 1.875rem
    color: #2F5379
    font: 500 1.5rem/1.75rem 'Lato', sans-serif
  &__map
  &__create-date
    color: #AEAEAE
    font: 400 1rem/1.1875rem 'Lato', sans-serif
    margin-bottom: 1.875rem
  &__desc
    font: 400 0.9375rem/140% 'Lato', sans-serif
    margin-bottom: 2.1875rem
    p
      margin: 0
  &__info
    margin-top: 3.75rem
  &__buttons
    margin-bottom: 1.875rem
    .button
      min-height: 2.5rem
      margin-top: 0.625rem
      margin-bottom: 0.625rem
  &__contact

  &__info
    .advantages-block__info
      margin-bottom: 1.25rem

.vacancy-buttons
  &__button__blue
    max-width: 19.375rem
    width: 100%
  &__button__contact
    max-width: 13.4375rem
    width: 100%
  &__link
    width: 6.25rem
    border-color: #C3C8D3
    &:hover,
    &:focus,
    &:active
      background-color: #fff

.back-jobs
  color: #197BBD
  font: 500 1.125rem/1.375rem 'Lato', sans-serif
  &:hover,
  &:active
    color: #197BBD
  &__img
    margin-right: 0.625rem

.button-link
  margin-top: 4.375rem
  margin-bottom: 5.625rem
  max-width: 22.8125rem
  width: 100%
  min-height: 3.125rem
  text-transform: uppercase
  color: #2F5379
  font: 500 1rem/1.1875rem 'Lato', sans-serif
  &:active,
  &:hover
    border-color: #197BBD
    background-color: #197BBD
    color: #fff

.page__brand
  margin-bottom: 5.625rem

.brand
  margin-bottom: 5.625rem
  &__slide
    width: 100%
    padding: 0 1.875rem
    object-fit: cover
    object-position: center
  .slick-track
    display: flex
    align-items: center
  .slick-dots
    bottom: -3.125rem
//select

.simple-select.css-b62m3t-container
  width: 100%
  //height: 2rem!important
  .css-1d8n9bt
    padding: 0
  .css-1s2u09g-control
    min-height: 2.1875rem
    line-height: 1.5rem !important
    //height: 2rem
    background-color: transparent
    border: none
  .css-1pahdxg-control
    min-height: 2.1875rem
    line-height: 1.5rem !important
    box-shadow: none
    border: none
  .css-1okebmr-indicatorSeparator
    display: none
  .css-319lph-ValueContainer
    padding: 0
  .css-14el2xx-placeholder
    margin: 0
  .css-14dclt2-Input
    input
      width: auto
      font: 300 1.125rem/1.5rem "Lato", sans-serif
  .css-1s2u09g-control
    //background-color: transparent

.search-skeleton
  min-height: 2.625rem
  border-radius: 0.625rem

.vacancy-skeleton
  min-height: 18.75rem
  border-radius: 0.625rem

.simple-select.form__input
    padding-left: 0

.form-interview-success
  &__title
    color: #38454E
    font: 700 2.25rem/2.3rem "Lato", sans-serif
    margin-bottom: 1.5625rem
  &__info
    color: #5B6166
    font: 400 1.125rem/150% "Lato", sans-serif
    margin-bottom: 1.875rem
  &__button-area
    display: flex
    justify-content: center
  &__button__red
    max-width: 20rem
    width: 100%
    min-height: 2.8125rem
    font: 400 1.125rem/1.25rem "Lato", sans-serif

.form-vector
  position: absolute
  top: 0
  z-index: 0
  right: -32%

.react-datepicker-popper
  .react-datepicker__triangle
    display: none
  .react-datepicker__header
    background-color: #E8F3FE
  select
    margin: 0 0.3125rem

